body {
    font-family: Arial, sans-serif;
    background-color: #8DE0FE;
}
.form-control{
    align-items: center;
}
.offcanvas-header{
    background-color: #8DE0FE;
}
.offcanvas-body ul li{
    list-style: none;
    cursor: pointer;
}
.offcanvas-body ul li a{
    text-decoration: none;
    color: black;
}
.offcanvas-body ul li a:hover{
    color: white;
}